/* Open Sans, Raleway, Indie Flower, Open Sans Condensed, Josefin Slab, Cinzel, Tangerine, Nothing You Could Do */
/* Color Palette: Adrift in Dreams
#CFF09E #A8DBA8 #79BD94 #39BD9A #0B8686 */

@import url('https://fonts.googleapis.com/css?family=Cinzel|Indie+Flower|Josefin+Slab|Nothing+You+Could+Do|Open+Sans|Open+Sans+Condensed:300|Raleway|Tangerine');

body {
	background-image: url("http://www.planwallpaper.com/static/images/518164-backgrounds.jpg");
}

.topTitle {
	font-family: Open Sans;
	font-size: 40px;
	text-align: center;
	background: #fff;
	opacity: 0.6;
	margin-right: 250px;
	margin-left: 250px;
}

nav {
	font-family: Open Sans;
	font-size: 20px;
	text-align: center;
	background: #fff;
	opacity: 0.6;
	margin-right: 250px;
	margin-left: 250px;
	word-spacing: 30px;
}

a:visited, a:link, a:active {
    text-decoration: none;
    color: #000;
}
a:hover {
	text-decoration: none;
    color: #0B8686;
}

article {
	font-family: Open Sans;
	font-size: 10px;
	text-align: center;
	background: #fff;
	opacity: 0.6;
	margin-right: 125px;
	margin-left: 125px;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

.title {
	font-size: 20px;
}

.content {
	font-size: 12px;
}